@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #BE9F69;
  padding: 30px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header-wrap {
  width: 100%;
  height: 30vh; /* Adjust height as needed */
  min-height: 150px; /* Minimum height fallback */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  min-height: 100%;
  background: rgb(255, 255, 255, 0.3);
}

/* Style for the image container */
.landingpage {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Style for the image */
#start-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
  z-index: 9999; /* Ensures the image is at the top */
}

.container{
  position: relative;
  max-width: 850px;
  margin-top: 30px;
  width: 100%;
  border-radius: 15px;
  padding: 30px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}
.container .forms{
  height: 100%;
  width: 100%;
}
.container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form{
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 30px;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #79493a;
}
.forms .title:before{
  width: 20px;
}
.forms .form-content .input-boxes{
  margin-top: 20px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  margin-top: 8px;
}
.forms .form-content .button input{
  background: #a95d43;
  color: aliceblue;
  font-size: x-large;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #823a3a;
  font-size: xx-large;
}
.forms .form-content .login-text{
  text-align: center;
  margin-top: 25px;
}

.score-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
#restart {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}
#restart {
  margin-top: 0.9em;
}
#display-container {
  background-color: #ffffff;
  padding: 3.1em 1.8em;
  width: 80%;
  max-width: 37.5em;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
}
.header {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6em;
  border-bottom: 0.1em solid #c0bfd2;
}
.timer-div {
  background-color: #f9e7b2e7;
  width: 7.5em;
  border-radius: 1.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 1.8em;
}
.question {
  margin-bottom: 1.25em;
  font-weight: 600;
}
.option-div {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
}
.option-div:disabled {
  color: #000000;
  cursor: not-allowed;
}
#next-button {
  font-size: 1em;
  margin-top: 1.5em;
  background-color: #f9e7b2e7;
  color: #000000;
  padding: 0.7em 1.8em;
  border-radius: 0.3em;
  float: right;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
#next-button:hover{
  font-size: large;
}
.hide {
  display: none;
}
.selected{
  background-color: #c7a875c1;
  color: #e3dd1a;
  border-color: #d39a2f;
}
#user-score {
  font-size: 1.5em;
  color: #ffffff;
}

@media (max-width: 2000px) {     
  .container .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content {
    width: 100%;
  }
  .form-content {
    display: none;
  }
}
@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  .header-wrap {
      height: 20vh; /* Adjust height for smaller screens */
      min-height: 100px; /* Minimum height fallback for smaller screens */
      padding: 10px; /* Adjust padding for smaller screens */
  }
}



